*, *:before, *:after {
    box-sizing: border-box;
}
  
:root {
    --header-height: 100px;
    min-width: 320px;
}
  
.body {
    margin: 40px;
    background-color: #9ED2C6;
    background: rgb(158,210,198);
    background: linear-gradient(90deg, rgba(158,210,198,1) 0%, rgba(247,236,222,1) 100%);
    font-family: 'Fredoka';
}


h1,h2,h3,h4,p{
    cursor: default
}

.footer{
    padding: 1rem;
}


.color__primary{
    color: #54BAB9;
}

.bg__primary{
    background-color: #F7ECDE;
}

.bg__secondary{
    background-color: #E9DAC1;
}

.bg__third{
    background-color: #F7ECDE;
}

.wrapper {
    margin: 0 10%;
    display: grid;
    -webkit-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -5px rgba(0,0,0,0.75);
}

.header__content{
    display: flex;
    justify-content: left;
    padding: 5px;
}
.header__content .titlepage{
   color: #818181;
   display: grid;
  place-content: center;
}

.border__radius25{
    border-radius: 25px;
}

.header__content .header__figure {
   margin: 0;
}
.header__content .header__img{
   max-width: 80px;
}

.main__content{
    display: flex;
    padding: 2rem 1rem;
    flex-wrap: wrap;
}

.main__content .container__left{
    width: 55%;
}

.main__content .container__right{
    width: 40%;
}

.main__content .container__left .name__content{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 80%;
    margin: auto;
}

.main__content .container__left .name__content .text__title{
    font-weight: bold;
    text-align: left;
}

.main__content .container__left .name__content img{
    max-width: 50px;
    max-height: 50px;
    align-self: center;
    margin: 0 auto;
    filter: drop-shadow(0px 0px 3px #A2B5BB);
}

.main__content .container__left .img__pokemon{
   padding: 1rem;
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 420px;
   position: relative
}
.main__content .container__left .img__pokemon img{
    transition: transform .5s; 
    max-width: 400px;
    width: 100%;
}


.main__content .container__left .img__pokemon img:hover{
    transform: scale(1.2)
}

.main__content .container__right{
    display: grid;
    padding: 20px;
    grid-template-columns: 50% 50%;
}

.main__content .container__right .infoBox__items{
    display: contents;
}
.main__content .container__right .infoBox__pokemon{
    display: inline-block;
    text-align: center;
    margin: auto;
}
.main__content .container__right .infoBox__pokemon .title{
    display: block;
    margin-block: 0.5rem;
}
.main__content .container__right .infoBox__pokemon .hability{
    font-weight: 100;
    font-size: 22px;
    margin: 0;
}

.footer__content {
    display: flex;
    flex-wrap: wrap;
}

.footer__content .footer__contentLeft {
    width: 30%;
}

.footer__content .footer__contentLeft h3 {
    padding: 40px 0;
    text-align: center;
    font-weight: 500;
}

.footer__content .footer__contentRight {
    width: 70%;
}

.footer__content .footer__contentRight .footer__content_items {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.footer__content .footer__contentRight .footer__content_items .footer__pokemon_item{
    padding: 5px;
    background-color: #9ED2C6;
    cursor: pointer;
    max-width: 25%;
    list-style: none;
    position: relative;
    height: 120px;
    overflow: hidden;
}
.footer__content .footer__contentRight .footer__content_items .footer__pokemon_item img{
    max-height: 120px;
    max-width: 120px;
    width: 100%;
    height: 100%;
    transition: transform .5s; 
    filter: brightness(0.1);
    object-fit: contain;
}

.footer__content .footer__contentRight .footer__content_items .footer__pokemon_item:hover{
    overflow: unset;
    z-index: 1;
}

.footer__content .footer__contentRight .footer__content_items .footer__pokemon_item:hover img{
    filter: brightness(1);
    transform: rotateY(360deg) scale(1.4);
}

@media only screen and (max-width: 750px) {
      
    body {
        margin: 0;
    }

    figcaption{
        display: none;
    }

    .wrapper {
        margin: 0 auto;
    }

    .header__content{
        justify-content: center;
    }

    .header__content .titlepage{
        font-size: 1.6em;
    }
     
    .header__content .header__figure .header__img {
        max-width: 70px;
    }

    .main__content{
      padding: 1rem 1rem;
      padding-bottom: 0;
    }

    .main__content .container__left{
        width: 100%;
        z-index: 1;
    }
    
    .main__content .container__right{
        position: relative;
        top: -45px;
        width: 95%;
        margin: auto;
        grid-template-columns: none;
    }

    .footer__content .footer__contentLeft h3 {
        padding: 0;
        font-size: 1.8em;
        margin: 0;
    }

    .footer__content .footer__contentLeft {
        width: 100%;
    }

    .main__content .container__left .img__pokemon{
        height: 100%;
        align-items: flex-start;
    }

    .main__content .container__left .img__pokemon figure{
        margin: 0;
    }

    .main__content .container__left .img__pokemon img{
        max-width: 220px;
        min-width: 100px;
    }

    .footer__content .footer__contentRight {
        max-width: 300px;
        margin: 0 auto;
        width: 100%;
    }

    .footer__content .footer__contentRight .footer__content_items .footer__pokemon_item{
        margin-block: 5px;
        max-width: 120px;
        height: 110px;
        width: 110px;
    }

    .footer__content .footer__contentRight .footer__content_items .footer__pokemon_item img{
        filter: brightness(1);
    }
    .footer__content .footer__contentRight .footer__content_items .footer__pokemon_item:hover img{
        transform: none;
    }

    .main__content .container__right .infoBox__pokemon{
        display: flex;
        padding-inline: 1rem;
        margin: 0;
    }

    .main__content .container__right .infoBox__pokemon .title{
        width: 60%;
        margin-block: 0.7rem;
        text-align: left;
    }

    .main__content .container__right .infoBox__pokemon .hability{
        width: 40%;
        text-align: left;
        margin: auto;
        font-size: 18px;
    }
   
}